body {
  background-color: #3e4044;
  color: white;
}

.Landing {
  padding-top: 5%;
  text-align: center;
  min-height: 100vh;
}

.React-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.Node-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 32vmin;
  pointer-events: none;
}

.Mongo-logo {
  margin-left: 5%;
  margin-right: 6%;
  animation: App-logo-spin infinite 20s linear;
  height: 9vmin;
  pointer-events: none;
}

.Landing-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Landing-info {
  margin-top: 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
